.venv
__pycache__
.pytest_cache
.mypy_cache
.DS_Store
data/raw/*
!data/raw/.gitkeep

data/interim/
data/processed/
artifacts/
*.parquet
*.joblib


!demo_assets/
!demo_assets/**
!demo_assets/**/*.joblib
!demo_assets/**/*.parquet
!demo_assets/**/*.csv
!demo_assets/**/*.json

